@import '../../styles/vars';
@import '../../styles/mixins';

.name {
  @include h1;
  margin-bottom: 2px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
}

.createdAt {
  color: gray;
}

.owner {
  text-align: center;
  display: flex;
  border: 2px solid rgb(147, 177, 147);
  border-radius: 20px;
  float: left;
}
