@import '../../styles/vars';
@import '../../styles/mixins';

.name {
  @include h1;
  margin-bottom: 2px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
}

.createdAt {
  color: gray;
}

.owner {
  text-align: center;
  display: flex;
  border: 2px solid rgb(147, 177, 147);
  border-radius: 20px;
  float: left;
}

.editButton {
  background-color: #158b25; /* Green */
  margin-left: 20px;
  border-radius: 15px;
  border: 1px solid #066844;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}
