@import '../../styles/vars';
@import '../../styles/mixins';

.button {
  padding: 8px 15px;
  color: $white;
  background-color: #409240;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #9de49d;
  }

  &:active {
    background-color: #39d039;
  }

  &.disabled {
    pointer-events: none;
    background-color: #929292;
    color: #d9d9d9;
  }
}
